<div class="toolbar">
  <div class="left">
    <a  
        mat-stroked-button
        class="today"
        (click)="today()">
      Today
    </a>
    <span class="prev-next">
      <a mat-icon-button (click)="calendarPrev()"><mat-icon>chevron_left</mat-icon></a>
      <a mat-icon-button (click)="calendarNext()"><mat-icon>chevron_right</mat-icon></a>
    </span>

    <div class="title">{{title}}</div>
  </div>

  <div class="right">
    <ng-container *ngIf="filterConfig">
      <fs-filter      
        (closed)="filterClosed()"
        (closed)="filterOpened()"
        [config]="filterConfig">
      </fs-filter>
    </ng-container>
    
    <ng-container *ngIf="toolbarMenuItems.length">
      <fs-menu>
        <ng-container *ngFor="let toolbarMenuItem of toolbarMenuItems">
          <ng-template
              fs-menu-item
              [show]="toolbarMenuItem.show"
              (click)="toolbarMenuItemClick(toolbarMenuItem)">
            {{toolbarMenuItem.label}}
          </ng-template>
        </ng-container>
      </fs-menu>
    </ng-container>
  </div>

</div>
<div class="calendar" [ngClass]="{ 'hide-day-today': !(config.dayToday ?? false) }">
  <div #calendar></div>
  <div class="bottom-line"></div>
</div>
